<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Username</th>
        <th scope="col">mail</th>
      </tr>
    </thead>
    <tbody>
      <tr app-table-line
          id="0"
          username="User 1"
          mail="user_one@mail.com"></tr>
      <tr app-table-line
          id="1"
          username="User 2"
          mail="user_two@mail.com"></tr>
      <tr app-table-line
          id="2"
          username="User 3"
          mail="user_three@mail.com"></tr>
      </tbody>
  </table>